includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Support/helpers.php
    ignoreErrors:
        - identifier: missingType.iterableValue
